body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  background-image: url('https://wallpapers.com/images/hd/food-4k-1vrcb0mw76zcg4qf.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.main-container {
  margin-left: 25%;
  margin-right: 20%;
}

.greeting {
  text-align: justify;
  margin: 30px;
  margin-left: 45%;
  font-family: cursive;
  font-size: 2rem;
} 

.heading-1 {
  color: rgb(187, 61, 246);
  margin: 25px;
  text-align: center;
  font-family: cursive;
}

.favList {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 5px;
  padding: 5px;
  list-style: none;
}

.favList img {
  height: 200px;
  width: 320px;
  border-radius: 5px;
}

.list-item {
  margin: 5px;
  padding: 5px;
  box-shadow: 0 13px 27px -5px #32325d40, 0 8px 16px -8px #0000004d, 0 -6px 16px -6px #00000008;
}

.list-item li {
  margin-left: 38%;
}